.container {
    display: flex;
    gap: 110px;
    margin-top: 150px;
    margin-left: 100px;
    
}

img {
    height: 200px;
    width: 200px;
    filter: invert(1);
   
}

.column {
    width: 200px;
    text-align: center;
}

p {
    text-align: left;
}

.imga {
    background-color: red;
}

.imgb {
    background-color: yellow;
}

.imgc {
    background-color: aqua;
}

.imgd {
    background-color: grey;
}

h2 {
    color: red;
}

