.container {
    display: flex;
    gap: 110px;
    margin-top: 150px;
    margin-left: 100px;
    
}

img {
    height: 200px;
    width: 200px;
    filter: invert(1);
   
}

.column {
    width: 200px;
    text-align: center;
}

p {
    text-align: left;
}

.imga {
    background-color: #51c3cd;
}

.imgb {
    background-color: #3a6ec1;
}

.imgc {
    background-color: #f34d33;
}

.imgd {
    background-color: #919191
}

h2 {
    color: #f34d33;
}

